body {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

a {
    color: purple;
}

a:hover {
    color: lightgrey;
}

button {
    border: none;
    height: 40px;
    text-align: center;
    background-color: purple;
    color: white;
    margin: 4px 2px;
    border-radius: 15px;
}

button:hover {
    background-color: white;
    color: purple;
}

.answer-choices button {
    display: block;
}

input {
    border-color: transparent transparent lightgrey transparent;
}

#initial-submit-btn {
    display: inline;
}
